*.pdf
*.env

# T1 de PLN - Quitar archivos generados.
PLN-Guanajuato/Tareas/Tarea1/clean_estenograficas/*.txt
PLN-Guanajuato/Tareas/Tarea1/corpus.txt


# T3 de DS - No guardar el dataset Flickr30k
*.jpg
*results.csv

*.RData
*.Rhistory

*.zip
__pycache__/